CompileFlags:
    Add: [-xc, -nostartfiles, -nostdlib, -nostdinc, -Wno-incompatible-library-redeclaration, -Wall, -Wextra, -std=c23]
    Remove: [-Wincompatible-library-redeclaration]
    Compiler: clang

Diagnostics:
  ClangTidy:
    FastCheckFilter: None
    Add:
        - misc-static-assert
